{% if messages is not empty %}
    {% for i in messages %}
        <div class="message" id="{{ i.id }}message">
            <div class="outgoing">
                {{ i.message }}
                <span>{{ i.created | date('H:i') }}</span>
                {% if i.getFile is not empty %}
                    <a href="{{ i.getFile }}" target="_blank"><div class="file"></div></a>
                {% endif %}
                <div class="message_from">{{ i.getAuthorName }}</div>
                <div class="edit_icon"></div>
                {#{% if app.user.username in i.getImportant %}#}
                {#<div class="important_message"></div>#}
                {#{% else %}#}
                {#{% endif %}#}
                <img src="{{ asset('images/default_avatar.png') }}" alt="" class="user_avatar">
            </div>
        </div>
    {% endfor %}
{% endif %}
