{% extends 'EnterpriseBundle:Default:template.html.twig' %}
{% block content %}
    <div class="messages_page">
        <div class="messages_cont">
            <div class="messages" id="all_messages"></div>
            <div class="textarea">
                <div class="add_file active" id="add_file">Файл</div>
                <textarea name="message" id="outgoing_message" rows="1" cols="1"  class="message"></textarea>
                <div class="btn enter_sent active" id="enter_sent" title="Enter - отправка сообщения"></div>
                <div class="btn sent_message active" id="sent_message">Ввод</div>
            </div>
        </div>
        <div class="left">
            <div class="buttons" id="errors"></div>
            <div class="contains">Список диалогов:</div>
            <div class="href_container">
                {% for i in dialogs %}
                    <div class="href" id="{{ i.0.id }}">
                        {{ i.0.getDialogName }}
                        <span>&nbsp;X</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <div class="a_lot_users" id="search_btn" title="Новый разговор"></div>
            <div class="buttons" id="dialog_controls">
                <div class="btn remove" id="remove" title="Удалить"></div>
                <div class="btn important" id="important" title="Важно"></div>
            </div>
            <div class="contains">Состав беседы:</div>
            <div class="peoples" id="peoples">
            </div>
            <div class="peoples_add">
                <div class="peoples_single add_new" id="invite_user">
                    <div class="add">+</div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog_cont" id="find_users">
        <input type="text" id="search_people" placeholder="Введите имя">
        <input type="text" id="dialog_name" placeholder="Название беседы">
        <div class="results" id="avail_users"></div>
        <div class="prepare_dialog" id="prepare_dialog"></div>
        <div class="prepare_dialog_border"></div>
        <div class="buttons">
            <div class="confirm" id="confirm">Начать разговор</div>
            <div class="cancel" id="cancel">Отмена</div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
//        clearInterval($.session.get('interval'));
//        window.lastDialog = null;
    {% if lastdialog is not empty %}
    function getLastDialog(){
        return "{{ lastdialog }}";
    }
    {% endif %}
    </script>
    {% javascripts
    '@EnterpriseBundle/Resources/public/js/messages.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}