{% extends 'EnterpriseBundle:Default:template.html.twig' %}
{% block content %}
    <div class="messages_page">
        <div class="messages_cont">
            <div class="messages" id="all_messages">
                {% if messages and dialogs is not empty %}
                    {% for i in messages %}
                        <div class="message" id="{{ i.1 }}message">
                            <div class="outgoing">
                                {{ i.3 }}
                                <span>{{ i.4 | date('H:i') }}</span>
                                {% if i.9 is not empty %}
                                    <a href="{{ i.9 }}"><div class="file"></div></a>
                                {% endif %}
                                <div class="message_from">{{ i.6 }}</div>
                                <div class="edit_icon"></div>
                                {% if i.7 is not empty %}
                                    <div class="important_message"></div>
                                {% endif %}
                                <img src="{{ asset('images/default_avatar.png') }}" alt="" class="user_avatar">
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="textarea" id="message_form">
                <form action="/" method="post">
                    <div class="fileBlock">
                        <div class="file">Файл</div>
                        <input type="file" id="file">
                    </div>
                    <textarea name="message" id="outgoing_message" rows="1" cols="1"  class="message"></textarea>
                    <div class="btn enter_sent active" id="enter_sent" title="Enter - отправка сообщения"></div>
                    <div class="btn sent_message active" id="sent_message">Ввод</div>
                </form>
            </div>
        </div>
        <div class="left">
            <div class="buttons" id="errors"></div>
            <div class="contains">Список диалогов:</div>
            <div class="href_container">
                {% if dialogs is not empty %}
                    {% for i in dialogs %}
                        {% if i.id == lastdialog %}
                            <div class="href active" id="{{ i.id }}">
                                {{ i.dialog_name }}
                                <span>&nbsp;X</span>
                            </div>
                        {% else %}
                            <div class="href" id="{{ i.id }}">
                                {{ i.dialog_name }}
                                <span>&nbsp;X</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="right">
            <div class="a_lot_users" id="search_btn" title="Новый разговор"></div>
            <div class="buttons" id="dialog_controls">
                <div class="btn remove" id="remove" title="Удалить"></div>
                <div class="btn important" id="important" title="Важно"></div>
            </div>
            <div class="contains">Состав беседы:</div>
            <div class="peoples" id="peoples">
                {% if users is not empty %}
                    {% for i in users %}
                        <div class="peoples_single" id="{{ i.2 }}remove_user">
                            <img alt="" src="{{ asset('images/default_avatar.png') }}">
                            <div class="name">{{ i.1 }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="peoples_add">
                <div class="peoples_single add_new" id="invite_user">
                    <div class="add">+</div>
                    <div class="new_user" id="new_user">
                        <input type="text" id="invite_to_dialog">
                        <div class="results" id="invited_users"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog_cont" id="find_users">
        <input type="text" id="search_people" placeholder="Введите имя">
        <input type="text" id="dialog_name" placeholder="Название беседы">
        <div class="results" id="avail_users"></div>
        <div class="prepare_dialog" id="prepare_dialog"></div>
        <div class="prepare_dialog_border"></div>
        <div class="buttons">
            <div class="confirm" id="confirm">Начать разговор</div>
            <div class="cancel" id="cancel">Отмена</div>
        </div>
    </div>
    {#{{ dump() }}#}
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
//        clearInterval($.session.get('interval'));
//        window.lastDialog = null;
    {% if lastdialog is not empty %}
    function getLastDialog(){
        return "{{ lastdialog }}";
    }
    {% endif %}
    </script>
    {% javascripts
    '@EnterpriseBundle/Resources/public/js/messages.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}