{% extends 'EnterpriseBundle:Default:template.html.twig' %}
{% block content %}
    <div class="documents_page index">
        <div class="documents">
            <div class="small_header">Прайс-лист сайта</div>
            <div class="site_price">
                <input type="file">
                <div id="to_site" class="add_to_site std_btn">Добавить</div>
                <div class="add_to_site std_btn">Залить заново</div>
            </div>
            <div class="price_settings">
                <table class="custom_excel">
                    <tr>
                        <td>Артикул</td>
                        <td>Название</td>
                        <td>Категория</td>
                        <td>Имя категории</td>
                        <td>Цена</td>
                        <td>Описание</td>
                        <td>Короткое описание</td>
                        <td>Изображение</td>
                        <td>Свойства товара</td>
                    </tr>
                    <tr>
                        <td class="droppable" id="pVendorCode"></td>
                        <td class="droppable" id="pName"></td>
                        <td class="droppable" id="pCategory"></td>
                        <td class="droppable" id="pCategoryName"></td>
                        <td class="droppable" id="pPrice"></td>
                        <td class="droppable" id="pDescription"></td>
                        <td class="droppable" id="pShortDescription"></td>
                        <td class="droppable" id="pImage"></td>
                        <td class="droppable" id="pProperties"></td>
                    </tr>
                </table>
                <div id="prepare" class="std_btn">Настроить</div>
                <div id="save" class="std_btn">Сохранить</div>
                <div class="fields"></div>
                <div class="clear"></div>
            </div>

            <div class="small_header">Прайс-листы поставщтков</div>
            {% for i in sellers %}
                <div class="seller_single">
                    <div class="documents_single {% if i.seller_id is empty %}red{% endif %}">
                        <div class="seller">{{ i.name }}</div>
                        {% if i.seller_id is not empty %}
                            <div class="parse std_btn" id="{{ i.id }}parse">В базу</div>
                        {% endif %}
                        <input type="file" id="{{ i.id }}">
                    </div>
                    {% if i.seller_id is empty %}
                    <table class="custom_excel">
                        <tr>
                            <td>Артикул</td>
                            <td>Название</td>
                            <td>Категория</td>
                            <td>Имя категории</td>
                            <td>Цена</td>
                            <td>Описание</td>
                            <td>Короткое описание</td>
                            <td>Изображение</td>
                            <td>Свойства товара</td>
                        </tr>
                        <tr>
                            <td class="droppable" id="VendorCode"></td>
                            <td class="droppable" id="Name"></td>
                            <td class="droppable" id="Category"></td>
                            <td class="droppable" id="CategoryName"></td>
                            <td class="droppable" id="Price"></td>
                            <td class="droppable" id="Description"></td>
                            <td class="droppable" id="ShortDescription"></td>
                            <td class="droppable" id="Image"></td>
                            <td class="droppable" id="Properties"></td>
                        </tr>
                    </table>

                    <div class="prepare std_btn">Настроить</div>
                    <div class="save_setting std_btn">Сохранить</div>
                        <div class="fields"></div>
                    {% endif %}
                </div>
            {% endfor %}

        </div>


    </div>
    {#{{ dump() }}#}
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts
    '@EnterpriseBundle/Resources/public/js/documents.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}